<main class="p-5">
    <link rel="stylesheet" href="style.css">
    <div class="card p-5">

        <p id="test">
            Hello world!
        </p>
        <p id="test">
            Hello world!
        </p>
        <p hidden id="test">
            Hello world!
        </p>
        <span hidden class="test">Test</span>
    </div>
    <pre>   fdsa</pre>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <div>Block</div>
    <h1>
        Pricing
    </h1>
    <div style="padding: 50px 0 50px 100px; background: gray; height: 200px;">
        <span>Category dog</span>
        <span>Category cat</span>
        <span>Category fish</span>
        <span>Category fish</span>


        <span class="block">Category top list</span>
    </div>

    <div>Block</div>

</main>