.card {
  color: black;
}
p {
}
.card > p {
  color: green;
  -webkit-text-fill-color: black;
  -webkit-text-stroke: 1px blue;
}

p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: rgb(254, 246, 8);
  -webkit-text-stroke: 1px rgb(255, 0, 166);

  direction: rtl;
}

#test {
  color: inherit;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;

  text-align: justify;
  letter-spacing: 0.01px;
}
span {
  text-align: left;
  text-transform: uppercase;
  text-decoration: underline solid red;
}

span:hover {
  text-decoration-line: line-through;
  text-decoration-style: wavy;
}

pre {
  tab-size: 5;
}

* {
  font-family: 'Roboto', Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

span {
  font-size: larger;
  font-weight: lighter;
  /*font-style: oblique;*/
}

p {
  font-stretch: expanded;
}

.test {
  display: none;
}

.block {
  display: inline-block;
  background: rgb(208, 208, 208);
  margin: auto;
  width: 100%;
  padding: 15px;
}
